name: CI/CD - Docker Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        working-directory: ./rest-with-spring-boot-and-java-erudio
        run: mvn -B clean package -DskipTests

      - name: Install Docker Compose
        run: sudo apt-get install -y docker-compose

      - name: Build Docker image with Docker Compose
        run: docker compose build
